.container {
    padding: 10px;
    overflow: auto;
    border: 1px solid #ddd;
  }

  .div1,.div2,.div3 {
    width: 120px;      /*Ancho*/
    height: 120px;      /*Alto*/
    display: flex;
    justify-content: center;      
    align-items: center;
  }

  .div1 {
    background-color: pink;
    float: right;
    padding: 50px;
  }

  .div2 {
    background-color: cyan;
    float: left;
    padding: 50px;

  }

  .div3 {
    background-color: orange;
    float: left;
    padding: 50px;

  }