nav{
            background-color: rgb(62, 60, 60);
            
        }

        nav a{
            text-decoration: none;
            padding: 5px;
            color: white;
            padding: 14px 18px;
        }

        nav a:hover{
            background-color: red;
        }

        .f-right{
            float: right;
        }

        .f-left{
            float: left;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }