body{
    padding: 10px;
    border: 1px solid #ddd;
  }
  .texto{
    background-color: orange;
  }
  .div1{
    background-color: pink;
    height: 150px;
    width: 150px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div2{
    background-color: aqua;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
  }