  body{
    font-size: 0;
  }

  *{
    box-sizing: border-box;
  }

  .div{
    padding: 50px;
    width: 25%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
  }

  .div1{
    background-color: aqua;
  }
  .div2{
    background-color: yellow;
  }
  .div3{
    background-color: orange;
  }
  .div4{
    background-color: blue;
  }