* {
            box-sizing: border-box;
        }

        div {
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        }

        .container {
        background: #ebf7f8;
        }

        .header {
        background: #ff9c56;
        }

        .logo {
        background: #ff4d79;
        float: right;
        }

        .navigation {
        background: #e85f43;
        float: left;
        }

        .sidebar {
        background: #ffbe56;
        float: left;
        width: 25%;
        height: 300px;
        }

        

        .sub-content {
        background: #49708a;
        height: 140px;
        }

        .sub-content-2 {
        background: #355163;
        height: 140px;        }

        .sub-content-wrapper {
        width: 70%;
        float: right;
        padding: 0;
        }

        .main-content {
        background: #88abc2;
        color: #fff;
        }

        .footer {
        background: #aad637;
        }

        .clearfix::after {
        content: "";
        clear: both;
        display: table;
        }
