:root{
    --header-bg: black;
    --header-color: white;
}

*{
    box-sizing: border-box;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

/*HEADER*/

header{
    position: sticky;  /*Hace que el header se quede “pegado” al borde superior cuando haces scroll*/
    top: 0;
    z-index: 999;  /*Se pone cuando hay elementos superpuestos*/
    background-color: black;
    padding: 15px;
}

header a.logo{
    text-decoration: none;
    color: black;
}

header a.logo span{
    color: white;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 10px;
}

header a.logo img {
    width: 25px;
    vertical-align: middle;
}

header a.login{
    border-radius: 3px;
    border: 2px solid white;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--header-color);
}

header a.login:hover{
    color: var(--header-bg);
    background-color: var(--header-color);
}

/*MAIN*/

main{
    background-color: #eee;
    padding: 20px;
}

main .title{
    /*Elimina cualquier espacio externo alrededor del elemento .title.*/
    background-color: white;
    text-align: center;
    padding: 10px;    
}

main .img-container img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

main .img-container .img-title{
    padding: 3px 6px;
    font-size: 16pt;
    position: relative;
    margin: 0 auto;
    top: -20px;
    width: 80%;
    background-color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}